defaults/linux-64::_libgcc_mutex-0.1-main
defaults/linux-64::_openmp_mutex-5.1-1_gnu
pypi/pypi::absl-py-2.1.0-pypi_0
pypi/pypi::astunparse-1.6.3-pypi_0
pypi/pypi::attrs-23.2.0-pypi_0
defaults/linux-64::bzip2-1.0.8-h5eee18b_6
defaults/linux-64::ca-certificates-2024.3.11-h06a4308_0
pypi/pypi::certifi-2024.6.2-pypi_0
pypi/pypi::charset-normalizer-3.3.2-pypi_0
pypi/pypi::cloudpickle-3.0.0-pypi_0
pypi/pypi::contourpy-1.2.1-pypi_0
pypi/pypi::cycler-0.12.1-pypi_0
pypi/pypi::dice-ml-0.11-pypi_0
defaults/linux-64::expat-2.6.2-h6a678d5_0
pypi/pypi::flatbuffers-24.3.25-pypi_0
pypi/pypi::fonttools-4.53.0-pypi_0
pypi/pypi::gast-0.5.4-pypi_0
pypi/pypi::google-pasta-0.2.0-pypi_0
pypi/pypi::grpcio-1.64.0-pypi_0
pypi/pypi::h5py-3.11.0-pypi_0
pypi/pypi::idna-3.7-pypi_0
pypi/pypi::imageio-2.34.1-pypi_0
pypi/pypi::joblib-1.4.2-pypi_0
pypi/pypi::jsonschema-4.22.0-pypi_0
pypi/pypi::jsonschema-specifications-2023.12.1-pypi_0
pypi/pypi::keras-3.3.3-pypi_0
pypi/pypi::kiwisolver-1.4.5-pypi_0
pypi/pypi::lazy-loader-0.4-pypi_0
defaults/linux-64::ld_impl_linux-64-2.38-h1181459_1
pypi/pypi::libclang-18.1.1-pypi_0
defaults/linux-64::libffi-3.4.4-h6a678d5_1
defaults/linux-64::libgcc-ng-11.2.0-h1234567_1
defaults/linux-64::libgomp-11.2.0-h1234567_1
defaults/linux-64::libstdcxx-ng-11.2.0-h1234567_1
defaults/linux-64::libuuid-1.41.5-h5eee18b_0
pypi/pypi::lime-0.2.0.1-pypi_0
pypi/pypi::llvmlite-0.42.0-pypi_0
pypi/pypi::markdown-3.6-pypi_0
pypi/pypi::markdown-it-py-3.0.0-pypi_0
pypi/pypi::markupsafe-2.1.5-pypi_0
pypi/pypi::matplotlib-3.9.0-pypi_0
pypi/pypi::mdurl-0.1.2-pypi_0
pypi/pypi::ml-dtypes-0.3.2-pypi_0
pypi/pypi::namex-0.0.8-pypi_0
defaults/linux-64::ncurses-6.4-h6a678d5_0
pypi/pypi::networkx-3.3-pypi_0
pypi/pypi::numba-0.59.1-pypi_0
pypi/pypi::numpy-1.26.4-pypi_0
defaults/linux-64::openssl-3.0.13-h7f8727e_2
pypi/pypi::opt-einsum-3.3.0-pypi_0
pypi/pypi::optree-0.11.0-pypi_0
pypi/pypi::packaging-24.0-pypi_0
pypi/pypi::pandas-1.5.3-pypi_0
pypi/pypi::pillow-10.3.0-pypi_0
defaults/linux-64::pip-24.0-py312h06a4308_0
pypi/pypi::protobuf-4.25.3-pypi_0
pypi/pypi::pygments-2.18.0-pypi_0
pypi/pypi::pyparsing-3.1.2-pypi_0
defaults/linux-64::python-3.12.3-h996f2a0_1
pypi/pypi::python-dateutil-2.9.0.post0-pypi_0
pypi/pypi::pytz-2024.1-pypi_0
pypi/pypi::raiutils-0.4.2-pypi_0
defaults/linux-64::readline-8.2-h5eee18b_0
pypi/pypi::referencing-0.35.1-pypi_0
pypi/pypi::requests-2.32.3-pypi_0
pypi/pypi::rich-13.7.1-pypi_0
pypi/pypi::rpds-py-0.18.1-pypi_0
pypi/pypi::scikit-image-0.23.2-pypi_0
pypi/pypi::scikit-learn-1.5.0-pypi_0
pypi/pypi::scipy-1.13.1-pypi_0
defaults/linux-64::setuptools-69.5.1-py312h06a4308_0
pypi/pypi::shap-0.45.1-pypi_0
pypi/pypi::six-1.16.0-pypi_0
pypi/pypi::slicer-0.0.8-pypi_0
defaults/linux-64::sqlite-3.45.3-h5eee18b_0
pypi/pypi::tensorboard-2.16.2-pypi_0
pypi/pypi::tensorboard-data-server-0.7.2-pypi_0
pypi/pypi::tensorflow-2.16.1-pypi_0
pypi/pypi::termcolor-2.4.0-pypi_0
pypi/pypi::threadpoolctl-3.5.0-pypi_0
pypi/pypi::tifffile-2024.5.22-pypi_0
defaults/linux-64::tk-8.6.14-h39e8969_0
pypi/pypi::tqdm-4.66.4-pypi_0
pypi/pypi::typing-extensions-4.12.1-pypi_0
pypi/pypi::tzdata-2024.1-pypi_0
pypi/pypi::urllib3-2.2.1-pypi_0
pypi/pypi::werkzeug-3.0.3-pypi_0
defaults/linux-64::wheel-0.43.0-py312h06a4308_0
pypi/pypi::wrapt-1.16.0-pypi_0
defaults/linux-64::xz-5.4.6-h5eee18b_1
defaults/linux-64::zlib-1.2.13-h5eee18b_1
